.card{
  width: 300px;
  margin-top: 12px;
  border-radius: 16px;
  border: 1px solid lightgray;
  padding: 10px;
}
.card-img{
  width: 100%;
  border-radius: 16px;
}
.flex{
  display: flex;
  justify-content: center;
  gap: 12px;
}
.card-header{
  position: relative;
}
.rating{
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  margin: 10px;
  background-color: white;
  padding: 4px 12px;
  font-size: 14px;
  border-radius: 6px;
}
.must-try{
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  margin: 10px;
  background-color: rgb(210, 253, 210);
  color: green;
  padding: 2px 5px;
  font-size: 14px;
  border-radius: 6px;
}
.m-0{
  margin: 0;
}
.d-none{
  display: none;
}